# Python Lists

###### Lists are used to store multiple items in a single variable.

###### Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

###### Lists are created using square brackets. It is also possible to use the list() constructor when creating a new list.

##### List is a collection which is ordered and changeable. Allows duplicate members.
        Ordered:    means that the items have a defined order, and that order will not change.
        
        Changeable: meaning that we can change, add, and remove items in a list after it has been created

In [1]:
#creating a list
NE = ["Arunachal Pradesh", "Assam", "Manipur", "Meghalaya", "Mizoram", "Nagaland", "Sikkim", "Tripura"]

In [2]:
#getting the length of list
print("\n Their are total of", len(NE) ,"States in North East India, And the states are: \n", NE)

 Their are total of 8 States in North East India, And the states are:
 ['Arunachal Pradesh', 'Assam', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Sikkim', 'Tripura']

In [3]:
#indexed
NE[0]

'Arunachal Pradesh'

In [4]:
#negative indexing
NE[-1]

'Tripura'

In [5]:
NE[-4:-1]

['Mizoram', 'Nagaland', 'Sikkim']

In [6]:
#Checking if an item exist in list: 
#looped within list

if "Assam" in NE:
    print("Yes, 'ASSAM' is in the NE list")

Yes, 'ASSAM' is in the NE list

In [7]:
#replacing the value
NE[2]= "MANURANJAN"
NE

#inserting range of item values
#NE[3:5] = ["Nice", "Good"]

['Arunachal Pradesh',
 'Assam',
 'MANURANJAN',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Sikkim',
 'Tripura']

In [8]:
#using keyword to insert and item in list
NE.insert(0, "Removing the first")
NE

['Removing the first',
 'Arunachal Pradesh',
 'Assam',
 'MANURANJAN',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Sikkim',
 'Tripura']

In [9]:
NE

['Removing the first',
 'Arunachal Pradesh',
 'Assam',
 'MANURANJAN',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Sikkim',
 'Tripura']

In [10]:
#adding an item in the list
NE.append("Manipur")
NE

['Removing the first',
 'Arunachal Pradesh',
 'Assam',
 'MANURANJAN',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Sikkim',
 'Tripura',
 'Manipur']

In [11]:
#removing item in list
NE.remove("MANURANJAN")
NE

['Removing the first',
 'Arunachal Pradesh',
 'Assam',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Sikkim',
 'Tripura',
 'Manipur']

In [12]:
#dropping specific indexed value
NE.pop(0)
NE

['Arunachal Pradesh',
 'Assam',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Sikkim',
 'Tripura',
 'Manipur']

In [13]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
list3

['a', 'b', 'c', 1, 2, 3]

In [14]:
list4 = ['x','y','z']

list3.extend(list4)
list3

['a', 'b', 'c', 1, 2, 3, 'x', 'y', 'z']

In [15]:
#methods
list3.reverse()
list3

['z', 'y', 'x', 3, 2, 1, 'c', 'b', 'a']

# Python Tuples

##### A tuple is a collection which is ordered and unchangeable i.e. immutable

##### A tuple can contain different data types. Allow dublicates

##### Tuples are written with round brackets. it is also possible to use tuple() constructor to make a tuple.

     Unchangeable: meaning that we cannot change, add or remove items after the tuple has been created.

In [16]:
tuple1 = ("Apple", "Banana", "Mango")
tuple1

('Apple', 'Banana', 'Mango')

In [17]:
tuple2 = ("Manu", 30, True, 20.20, "Male")

In [18]:
#adding tuples
tuple1 + tuple2

('Apple', 'Banana', 'Mango', 'Manu', 30, True, 20.2, 'Male')

Any changes to add/removing items.
Workaround:
    Convert to list and then do add/remove
    Convert back to tuple

In [19]:
#deleting the tuple completely
del tuple1

In [20]:
#looping in tuple
tuple2 = ("Manu", 30, True, 20.20, "Male")
for x in tuple2:
    print(x)

Manu
30
True
20.2
Male

# Python Sets

##### A set is a collection which is unordered, unindexed, and do not allow duplicates.

##### A set can contain different data types.

##### Once a set is created, we cannot change its items, but you can remove items and add new items.

In [21]:
set1 = {"Cow", "Goat", "Horse"}

In [22]:
#looping
for item in set1:
    print(item)

Cow
Horse
Goat

In [23]:
#checking item in set
print("Cow" in set1)

True

In [24]:
set1.add("dog")
set1

{'Cow', 'Goat', 'Horse', 'dog'}

In [25]:
set2 = {"Duck", "Hen"}

In [26]:
#Adding Sets
set1.update(set2)
set1

{'Cow', 'Duck', 'Goat', 'Hen', 'Horse', 'dog'}

In [27]:
#we can add any iterable
mylist = ['Rhino', 'Elephant']

In [28]:
set1.update(mylist)
set1

{'Cow', 'Duck', 'Elephant', 'Goat', 'Hen', 'Horse', 'Rhino', 'dog'}

In [29]:
#joining set
set3 = set1.union(set2)
set3

{'Cow', 'Duck', 'Elephant', 'Goat', 'Hen', 'Horse', 'Rhino', 'dog'}

# Python Dictionaries

##### Dictionaries are used to store data values in key:value pairs.

##### A dictionary is a collection which is changeable and do not allow duplicates.

##### Dictionaries are changeable, i.e. we can add or remove items after the dictionary has been created.

In [30]:
dict1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [31]:
# Dictionaries cannot have two items with the same key.
# Duplicate values will overwrite existing values.

dict2 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2022
}
print(dict2)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}

In [32]:
# We can access the items of a dictionary by referring to its key name.
dict2.get("brand")

'Ford'

In [33]:
#Getting the keys
dict2.keys()

dict_keys(['brand', 'model', 'year'])

In [34]:
#Getting the Values
dict2.values()

dict_values(['Ford', 'Mustang', 2022])

In [35]:
#adding a new key pair values
dict2["Color"] = "white"
dict2

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022, 'Color': 'white'}

In [36]:
#Loop through both keys and values
for x, y in dict2.items():
  print(x, y)

brand Ford
model Mustang
year 2022
Color white

In [37]:
#Nested Dictionaries
#Dictionary that contains dictionaries

myname = {
  "First" : {
    "name" : "Manu",
    "year" : 2014
  },
  "Middle" : {
    "name" : "Ranjan",
    "year" : 2017
  },
  "Last" : {
    "name" : "Gogoi",
    "year" : 2022
  }
}

In [38]:
myname

{'First': {'name': 'Manu', 'year': 2014},
 'Middle': {'name': 'Ranjan', 'year': 2017},
 'Last': {'name': 'Gogoi', 'year': 2022}}